<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-heartbeat" version="2.2.7">
  <name>Heartbeat plugin</name>
  <description>Heartbeat (Happitech) plugin</description>
  <repo>https://koenromers@bitbucket.org/kroodle/cordova-plugin-heartbeat.git</repo>
  <issue>https://bitbucket.org/kroodle/cordova-plugin-heartbeat/issues</issue>

  <js-module src="www/heartbeat.js" name="Heartbeat">
    <clobbers target="Heartbeat"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="Heartbeat">
        <param name="android-package" value="nl.aegon.kroodle.HeartbeatPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/libs/HeartBeatLibAndroid.aar" target-dir="libs" framework="true"/>
    <source-file src="src/android/HeartbeatPlugin.java" target-dir="src/nl/aegon/kroodle"/>
    <source-file src="src/android/build-extras.gradle" target-dir="."/>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.FLASHLIGHT" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Heartbeat">
        <param name="ios-package" value="HeartbeatPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/HeartbeatPlugin.h" target-dir="HeartbeatPlugin"/>
    <source-file src="src/ios/HeartbeatPlugin.m" target-dir="HeartbeatPlugin"/>
    <framework src="src/ios/Frameworks/HeartbeatLib.framework" custom="true"/>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>Measure your heartbeat by using the camera and flash.</string>
    </config-file>
  </platform>

</plugin>
